*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", 'Raleway', sans-serif;
}

/* Header design --->*/

header{
    height: 50px;
    padding: 0 20px;
    background: linear-gradient(to right, #b5b1d4, #948fc9, #6f6faa);
}

header img{
    float: left;
    margin-left: -10px;
    cursor: pointer;
}
header a{
    user-select: none;
}
#change-mode{
    display: none;
}
.toggle{
    float: right;
    font-size: 32px;
    margin-top: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.off{
    display: none;
}

#label{
    float: right;
    line-height: 47.5px;
    padding-right: 15px;
}
#title{
    text-transform: uppercase; 
    color: #000000;
    line-height: 50px; 
    float: left;
    cursor: pointer;
    transition: 0.2s;
}

.mainbody{
    background-color: #8EC5FC;
    background-image: linear-gradient(90deg, #a3cdf8 0%, #eee1fa 80%);    
    background-repeat: no-repeat;
}

@media screen and (max-width: 700px){
    #title, #label{
        display: none;
    }
}

/* Main content design --->*/

.maintitle{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #292929;
    padding: 0 10px 0 10px;
    margin: 20px 40px 40px 40px;
    max-width: 900px;
}

.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
    margin: 40px 20px 40px 20px;
}

@media screen and (max-width: 700px){
    .flexbox video{
        width: 90vw;
    }
    .maintitle{
        font-size: 30px;
    }
}
@media screen and (min-width: 700.1px){
    .flexbox video{
        width: 650px;
    }
    .maintitle{
        font-size: 36px;
    }
}

/* Projects design --->*/
.works{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
    background: #b5b1d4;
    background: linear-gradient(to right, #b5b1d4, #948fc9, #6f6faa);
    padding: 40px 50px 50px 50px;
    margin-top: -1px;
}
.works h2{
    color: #292929;
    font-size: 30px;
    margin-bottom: 25px;
}

.overlaywork1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 285px;
    width: 300px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    z-index: 111;
    user-select: none;
    transition: 0.3s;
}

.work1 h3{
    margin: 20px;
    font-size: 22px;
    transition: 0.3s;
    color: #ffffff;
}
#work1title{
    color: #292929;
}

.work1 a{
    text-decoration: none;
}

#work1img{
    position: relative;
    height: 285px;
    width: 300px;
    border-radius: 50%;
}

#work1title:hover{
    color: #5928a8; 
}
.overlaywork1:hover{
    opacity: 1;
}
@media screen and (max-width: 650px){
    #work1img, .overlaywork1{
        height: 185px;
        width: 210px;
        text-align: center;
    }
}
@media screen and (min-width: 650.1px){
    #work1img, .overlaywork1{
        height: 285px;
        width: 300px;
    }
}
/* About --->*/

.about{
    background: rgb(222,232,255);
    background: linear-gradient(90deg, #dee8ff 0%, #f2f7ff 0%);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #616161;
    text-align: center;
}

.info .name{
    margin-bottom: 20px;
}

.info img{
    border-radius: 50%;
    margin: 25px;
}

.basicinfo{
    list-style: none;
    margin-top: 10px;
}

.basicinfo li{
    margin: 10px 10px 0 10px;
}

.aboutbody{
    background: rgb(222,232,255);
    background: linear-gradient(90deg, #dee8ff 0%, #f2f7ff 0%);
    padding-bottom: 40px;
}

.contentaboutme{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: -1px 20px 30px 20px;
    padding-top: 60px;
    align-items: center;
    z-index: -1;
}


.socialmedia{
    text-align: center;
    margin-bottom: 0px;
}

.socialmedia h2{
    color: #616161;
    font-size: 40px;
    margin-bottom: 20px;    
}


.socialmediabutton{
    color: #616161;
    font-size: 50px;
    margin: 0 10px 0 10px;
    transition: 0.3s;
}

.socialmediabutton:hover{
    color: #5928a8; 
}

/* Footer design --->*/

footer{
    display: flex;
    line-height: 100px;
    color: #ffffff;
    font-weight: 300;
    background: #6f6faa;
    justify-content: center;
}


@media screen and (max-width: 550px){
    footer, .info{
        font-size: 18px;
    }
    .socialmedia h2{
        font-size: 24px;    
    }
}
@media screen and (min-width: 550.1px){
    footer, .info{
        font-size: 22px;
    }
    .socialmedia h2{
        font-size: 30px;    
    }
}
@media screen and (max-width: 350px){
    footer{
        font-size: 18px;
    }
}
