*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* Header design --->*/

.atama{
    height: 50px;
    padding: 0 20px;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
}

.atama img{
    float: left;
    margin-left: -10px;
    cursor: pointer;
}

#title{
    text-transform: uppercase; 
    color: white;
    line-height: 50px; 
    float: left;
    cursor: pointer;
}


.mainbody{
    background: #1e1e31;
    background-image: linear-gradient(to right, #7c20cc, #4a00e0);
    background-repeat: no-repeat;
}

@media screen and (max-width: 700px){
    #title{
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
    }
}

/* Content design --->*/

.maintitle{
    display: flex;
    text-align: center;
    color: white;
    padding: 0 10px 0 10px;
    margin: 30px 10px 40px 10px;
    max-width: 900px;
    align-items: center;
}

.flexbox video{
    display: block;
    margin: 20px auto;
}

.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
}

@media screen and (max-width: 700px){
    .flexbox video{
        width: 90vw;
    }
    .maintitle{
        font-size: 32px;
    }
}
@media screen and (min-width: 700.1px){
    .flexbox video{
        width: 650px;
    }
    .maintitle{
        font-size: 40px;
    }
}

.randomtext{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #1c1c2e, #24243e, #2d2d4e);
    color: white;
    padding: 50px 50px 30px 50px;
    margin-top: 80px;
    justify-content: center;
}

.randomtext2{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #1c1c2e, #24243e, #2d2d4e);
    color: white;
    padding: 0 50px 30px 50px;
    margin-top: -1px;
    justify-content: center;
}

.randomtext3{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #1c1c2e, #24243e, #2d2d4e);
    color: white;
    margin-top: -1px;
    padding: 0 50px 30px 50px;
    justify-content: center;
}


.randomtext h2, .randomtext2 h2, .randomtext3 h2{
    margin-bottom: 10px;
    font-size: 28px;
}


.randomtext p, .randomtext2 p, .randomtext3 p{
    font-size: 24px;
}

.images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.images img{
    border: 2px solid white;
    margin: 20px;
}

@media screen and (max-width: 650px){
    .images img{
        width: 90vw;
    }
}
@media screen and (min-width: 650.1px){
    .images img{
        width: 600px;
    }
}

@media screen and (max-width: 1600px){
     .flexbox{
            margin: 30px 20px 20px 20px;
     }
}

@media screen and (min-width:1600.1px){
    .flexbox{
        margin: 60px 20px 20px 20px;
    }
}

@media screen and (min-width: 1000px){
    .randomtext p, .randomtext2 p, .randomtext3 p{
        margin: 0 100px 0 100px;
    }
}

/* Footer design --->*/

footer{
    display: flex;
    line-height: 100px;
    color: white;
    background: linear-gradient(to right,  #24243e, #302b63);
    justify-content: center;
}


@media screen and (max-width: 550px){
    footer{
        font-size: 20px;
    }
}
@media screen and (min-width: 550.1px){
    footer{
        font-size: 24px;
    }
}
@media screen and (max-width: 350px){
    footer{
        font-size: 16px;
    }
}

    